{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description">
    <meta name="author">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="bg-gradient-primary">
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!--<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                        <!--segue o baile, back-end pira-->
                        <!--col-lg-6-->
                        <form class="col" method="POST">
                            {% csrf_token %}
                            <div class="p-5">
                                <div class="text-center">
                                    <a href="https://unipe.edu.br" class="tagueamento"><img
                                            alt="UNIPÊ | Centro Universitário de João Pessoa"
                                            title="UNIPÊ | Centro Universitário de João Pessoa"
                                            src="https://novoportal.cruzeirodosul.edu.br/static/logos/67/logo-negativo_67.svg"></a>
                                </div>
                                <br>
                                <div class="form-group has-feedback">
                                    <div style="color:white"> {{ form.username|bootstrap }}</div>
                                    <div style="color:white">{{ form.password|bootstrap }}</div>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert {{ message.tags }} m-3" id="msg" role="alert"
                                                 data-dismiss="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Entrar</button>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script>
    setTimeout(function () {
        if ($('#msg').length > 0) {
            $().remove();
        }
    }, 2000)


</script>
</body>
</html>
