{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} Listagem/Convênios {% endblock %}

{% csrf_token %}

{% block main %}
    <!-- Início do conteúdo da página -->
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="form-group col-md-4">
                <h1 class="h3 mb-0 text-gray-800">Tabela dos Convênios:</h1>
            </div>


            <div class="form-group-append" style="flex-direction: row-reverse">
                <form class="form-inline">
                    <div class="input-group-append">
                        <input type="text" class="form-control"
                               placeholder="Procurar por..." name="convenio"
                               id="convenio">

                        <button type="submit" class="btn btn-primary"><a class="fas fa-search fa-sm"></a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Tabela -->
    <div class="form-group col-md-12">
        <table id="dtBasicExample" class="table table-striped">
            <thead class="thead-btn btn-primary">
            <tr>
                <th scope="col">Razão Social</th>
                <th scope="col">Unidade Executora</th>
                <th scope="col">Representante Responsável</th>
                <th scope="col">Tipo de Estabelecimento</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for convenio in object_list %}
                <tr>
                    <td><a href="{% url 'conveniodetail' convenio.id %}">{{ convenio.razao_social }}</a></td>
                    <td>{{ convenio.unidade_executora }}</td>
                    <td>{{ convenio.representante }}</td>
                    <td>{{ convenio.tipo_de_estabelecimento }}</td>


                    <td><a class="fas fa-trash" href="{% url 'conveniodelete' convenio.id %}"></a></td>
                </tr>
            {% endfor %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} m-3" id="msg" role="alert"
                         data-dismiss="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'conveniocreate' %}">
                <button type="submit" class="btn btn-primary">Cadastrar novo convênio</button>
            </a>
            </tbody>
        </table>
    </div>
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)


    </script>


    <!-- Fim da Tabela -->
{% endblock %}
