{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
<!-- Início do conteúdo da página -->

{% block main %}
    <div class="container-fluid">
        <!-- Cabeçalho da página -->
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
            <div class="form-group col-md-4">
                <h1 class="h3 mb-0 text-gray-800" style="">Tabela dos Cursos</h1>
            </div>


            <div class="input-group" style="flex-direction: row-reverse">
                <div class="input-group-append">
                    <button class="btn btn-primary" style="border-radius: 0px 5px 5px 0px;" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
                <input type="text" class="form-control bg-light border-1 small col-4"
                       style="border-radius: 5px 0px 0px 5px;" placeholder="Procurar por..." aria-label="Search"
                       aria-describedby="basic-addon2">
            </div>
        </div>
        <br>
        <!-- Tabela -->
        <div class="form-group col-md-12">
            <table class="table table-striped">
                <thead class="thead-btn btn-primary">
                <tr>
                    <th scope="col">Nome do Curso</th>
                    <th scope="col"></th>


                </tr>
                </thead>
                <tbody>
                {% for curso in object_list %}
                    <tr>

                        <td><a href="{% url 'cursodetail' curso.id_curso %}">{{ curso.nome_curso }}</a></td>
                        <td><a class="fas fa-trash" href="{% url 'cursodelete' curso.id_curso %}"></a></td>

                    </tr>
                {% endfor %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} m-3" id="msg" role="alert"
                             data-dismiss="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <a href="{% url 'cursocreate' %}">
                    <button type="submit" class="btn btn-primary">Cadastrar novo curso</button>
                </a>

                </tbody>
            </table>
        </div>
    </div>
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)


    </script>
{% endblock %}
<!-- Fim da Tabela -->
