{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %} Atualizar {% endblock %}

{% block main %}
<section class="aw-layout-content  js-content">
    <form method="POST" style="padding-top:70px">
        {% csrf_token %}
        <div class="container">
            <h1>Informações do Curso:</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.nome_curso|bootstrap }}
                </div>
            </div>
            <button class="btn btn-dark" type="submit">Alterar</button>
            <a class="btn btn-dark" href="{% url 'cursodetail' curso.id_curso  %}">Voltar</a>
        </div>
    </form>
</section>
{% endblock %}