{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}UNIPÊ{% endblock %}

{% block main %}
<!-- Início do conteúdo da página -->
<div class="container-fluid">
    <!-- Cabeçalho da página -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <p>{{ request.session.message }}</p>
    </div>
    <!-- Linha de conteúdo -->
    <div class="row">
        <div class="col-xl-3 col-md-4 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info  text-uppercase mb-1">Valor Diário</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R${{diario|default_if_none:0 |floatformat:"-2"}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Valor Mensal -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Valor Mensal</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R${{mensal|default_if_none:0 |floatformat:"-2"}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Valor anual -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Valor anual</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R${{anual|default_if_none:0 |floatformat:"-2"}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Linha de conteúdo -->

        <div class="row">


            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Custo em Gráfico</h6>
                    </div>
                    <!-- Card Body -->
                    <div style="width: 1550px; height: 2355px;">
                        <canvas id="myChart"></canvas>
                        <canvas id="myChar"></canvas>
                        <canvas id="myCha"></canvas>
                    </div>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                <script>
                        new Chart(document.getElementById("myChart"), {
                        "type": "bar",
                        "data": {
                            "labels": ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro","Outubro","Novembro","Dezembro"],
                            "datasets": [{
                                "label": "Gasto Mensal - Estágio",
                                "data": [150, 100, 200, 300, 50, 75],
                                "fill": false,
                                "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                                "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                                "borderWidth": 1
                            }]
                        },
                        "options": {
                            "scales": {
                                "yAxes": [{
                                    "ticks": {
                                        "beginAtZero": true
                                    }
                                }]
                            }
                        }
                    });
                    new Chart(document.getElementById("myChar"), {
                        "type": "bar",
                        "data": {
                            "labels": ["Segunda-Feira", "Terça-Feira", "Quarta-Feira", "Quinta-Feira", "Sexta-Feira"],
                            "datasets": [{
                                "label": "Gasto Diário - Estágio",
                                "data": [10, 20, 50, 35, 75],
                                "fill": false,
                                "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                                "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                                "borderWidth": 1
                            }]
                        },
                        "options": {
                            "scales": {
                                "yAxes": [{
                                    "ticks": {
                                        "beginAtZero": true
                                    }
                                }]
                            }
                        }
                    });
                    new Chart(document.getElementById("myCha"), {
                        "type": "bar",
                        "data": {
                            "labels": ["2020", "2021", "2022", "2023", "2024", "2025"],
                            "datasets": [{
                                "label": "Gasto Anual - Estágio",
                                "data": [10, 20, 30, 40, 75, 150],
                                "fill": false,
                                "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                                "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                                "borderWidth": 1
                            }]
                        },
                        "options": {
                            "scales": {
                                "yAxes": [{
                                    "ticks": {
                                        "beginAtZero": true
                                    }
                                }]
                            }
                        }
                    });












                </script>
            </div>
        </div>
    </div>
    <!-- Fim do conteúdo principal -->
    <!-- Fim do Wrapper de Conteúdo -->
    <!-- Wrapper de fim de página -->
    <!-- Role para o botão superior-->
    <a class="scroll-to-top rounded">
        <i class="fas fa-angle-up"></i>
    </a>
</div>
{% endblock %}