{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} Listagem/Disciplina {% endblock %}

{% csrf_token %}

{% block main %}
    <!-- Início do conteúdo da página -->
    <form class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="form-group col-md-4">
                <h1 class="h3 mb-0 text-gray-800">Lista de Disciplinas:</h1>
            </div>


            <div class="form-group-append" style="flex-direction: row-reverse">
                <form class="form-inline">
                    <div class="input-group-append">
                        <input type="text" class="form-control"
                               placeholder="Procurar por..." name="disciplina"
                               id="disciplina">

                        <button type="submit" class="btn btn-primary"><a class="fas fa-search fa-sm"></a></button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Tabela -->
        <div class="form-group col-md-12">
            <table id="dtBasicExample" class="table table-striped">
                <thead class="thead-btn btn-primary">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                {% for disciplina in object_list %}
                    <tr>
                        <td><a href="{% url 'disciplinadetail' disciplina.id_disciplina %}">{{ disciplina.nome_disciplina }}</a></td>
                        <td><a class="fas fa-trash" href="{% url 'disciplinadelete' disciplina.id_disciplina %}"></a></td>
                    </tr>
                {% endfor %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} m-3" id="msg" role="alert"
                             data-dismiss="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'createdisciplina' %}">
                    <button type="submit" class="btn btn-primary">Cadastrar nova disciplina</button>
                </a>
                </tbody>
            </table>
        </div>
    </form>
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)


    </script>


    <!-- Fim da Tabela -->
{% endblock %}