{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block title %}Formulário/Disciplina{% endblock %}


{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <!-- Cabeçalho da página -->

    <!-- Início do formulario -->
    <form style="padding-top:9px" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Cadastro de Disciplinas:</h1>
            </div>

            <!-- Início linha de conteúdo -->
            <div class="form-row">
                <!-- Input do convênio -->
                <div class="form-group col-md-3">
                    {{ form.nome_disciplina|bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
</body>
</html>
{% endblock %}