{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load multiply %}

{% block title %} Listagem/Estágios {% endblock %}

{% csrf_token %}

{% block main %}
<!-- Início do conteúdo da página -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="form-group col-md-4">
            <h1 class="h3 mb-0 text-gray-800">Tabela dos Estágios:</h1>
        </div>


    </div>

    <!-- Tabela -->
    <table class="table table-striped">
        <thead class="thead-btn btn-primary">
        <tr>


            <th scope="col">Curso</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Tipo de Convênio</th>
            <th scope="col">Preceptor</th>
            <th scope="col">Turno</th>
            <th scope="col">Quantidade de Alunos</th>
            <th scope="col">Quantidade de Dias</th>
            <th scope="col">Data de Início</th>
            <th scope="col">Data de Término</th>
            <th scope="col">Custo Diário de Cada Aluno</th>

        </tr>
        </thead>
        <tbody>
        {% for estagio in object_list %}
        <tr>
            <td>{{ estagio.curso }}</td>
            <td>{{ estagio.disciplina }}</td>
            <td>{{ estagio.tipo_de_convenio }}</td>
            <td>{{ estagio.preceptor }}</td>
            <td>{{ estagio.turno }}</td>
            <td>{{ estagio.quantidade_de_alunos }}</td>
            <td>{{ estagio.dates|length }}</td>
            <td>{{ estagio.dates|first }}</td>
            <td>{{ estagio.dates|last }}</td>
            <td>{% multiply estagio.quantidade_de_alunos estagio.custo_por_aluno %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'pdfestagio' %}" target="_blank">Gerar PDF</a>
</div>
<!-- Fim da Tabela -->
{% endblock %}