{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} Listagem/Estágios {% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="form-group col-md-4">
            <h1 class="h3 mb-0 text-gray-800">Informação do Estágio:</h1>
        </div>

        <div class="input-group" style="flex-direction: row-reverse">
            <div class="input-group-append">
                <button class="btn btn-primary" style="border-radius: 0px 5px 5px 0px;" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
            <input type="text" class="form-control bg-light border-1 small col-4"
                   style="border-radius: 5px 0px 0px 5px;" placeholder="Procurar por..." aria-label="Search"
                   aria-describedby="basic-addon2">
        </div>
    </div>

    <!-- Tabela -->
    <table class="table table-striped">
        <thead class="thead-btn btn-primary">
        <tr>
            <th scope="col">Convênio</th>
            <th scope="col">Curso</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Turno</th>
            <th scope="col">Quantidade de Alunos</th>
            <th scope="col">Custo por Aluno</th>
            <th scope="col">Preceptor</th>
            <th scope="col">Local</th>
            <th scope="col">Tipo de Estabelecimento</th>
            <th scope="col">Setor</th>
            <th scope="col">Quantidade de Dias</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{estagio.tipo_de_convenio}}</td>
            <td>{{ estagio.curso }}</td>
            <td>{{ estagio.disciplina }}</td>
            <td>{{ estagio.turno }}</td>
            <td>{{ estagio.quantidade_de_alunos }}</td>
            <td>{{ estagio.custo_por_aluno }}</td>
            <td>{{ estagio.preceptor }}</td>
            <td>{{ estagio.local }}</td>
            <td>{{ estagio.tipo_de_estabelecimento }}</td>
            <td>{{ estagio.setor }}</td>
            <td>{{ estagio.dates|length }}</td>
            <td><a class="fas fa-trash" href="{% url 'estagiodelete' estagio.id %}"></a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'estagioupdate' estagio.id %}">Alterar Informações</a>
    <a class="btn btn-primary" href="{% url 'estagiolista' %}">Voltar</a>
</div>
    <!-- Fim da Tabela -->
    {% endblock %}