{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} Listagem/Estabelecimento {% endblock %}

{% csrf_token %}

{% block main %}
    <!-- Início do conteúdo da página -->
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="form-group col-md-4">
                <h1 class="h4 mb-0 text-gray-800">Tipos de Estabelecimentos</h1>
            </div>


            <div class="input-group" style="flex-direction: row-reverse">

                <div class="input-group-append">
                    <button class="btn btn-primary" style="border-radius: 0px 5px 5px 0px;" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
                <input type="text" class="form-control bg-light border-1 small col-4"
                       style="border-radius: 5px 0px 0px 5px;" placeholder="Procurar por..." aria-label="Search"
                       aria-describedby="basic-addon2">
            </div>
        </div>
        <!-- Tabela -->
        <table id="dtBasicExample" class="table table-striped">
            <thead class="thead-btn btn-primary">
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for estabelecimento in object_list %}
                <tr>
                    <td><a href="{% url 'updateestabelecimento' estabelecimento.id_estabelecimento %}">{{ estabelecimento.tipo }}</a>
                    </td>
                    <td><a class="fas fa-trash" href="{% url 'deleteestabelecimento' estabelecimento.id_estabelecimento %}"></a></td>
                </tr>
            {% endfor %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} m-3" id="msg" role="alert"
                         data-dismiss="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'createestabelecimento' %}">
                <button type="submit" class="btn btn-primary">Cadastrar novo estabelecimento</button>
            </a>
            </tbody>
        </table>
    </div>
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)


    </script>


    <!-- Fim da Tabela -->
{% endblock %}
