{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}Formulário{% endblock %}
{% block main %}
<!-- Início do conteúdo da página -->
<div class="container-fluid">
    <!-- Cabeçalho da página -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cadastro de Preceptores</h1>
    </div>
    <!-- Início do formulario -->
    <form style="padding-top:9px" method="post" >
        {% csrf_token %}
        <div class="container">
            <!-- Início linha de conteúdo -->
            <div class="form-row">
                <!-- Input do nome do curso -->
                <div class="form-group col-md-4">
                    {{ form.nome_preceptor|bootstrap}}
                </div>
                <!-- Input do disciplina -->
                <div class="form-group col-md-4">
                    {{ form.matricula|bootstrap}}
                </div>
                 <div class="form-group col-md-4">
                    {{ form.curso|bootstrap}}
                </div>
                 <div class="form-group col-md-4">
                    {{ form.disciplina|bootstrap}}
                </div>
                <!-- Início linha de conteúdo -->
                <!-- Botão -->
            </div>
            <button  type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
    <!-- Fim do formulario -->
{% endblock %}
    <!-- Fim do conteúdo principal -->
