{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Atualizar{% endblock %}

{% block main %}
<section class="aw-layout-content  js-content">
    <form method="POST" style="padding-top:70px" class="disciplinasDropdown" data-disciplinasurl="{% url 'ajax_load_disciplinas' %}" novalidate>
        {% csrf_token %}
        <div class="container">
            <h1>Alterar Informações:</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.nome_preceptor|bootstrap }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.matricula|bootstrap }}
                </div>
                 <div class="form-group col-md-4">
                    {{ form.curso|bootstrap }}
                </div>
                 <div class="form-group col-md-4">
                    {{ form.disciplina|bootstrap }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Alterar</button>
            <a class="btn btn-primary" href="{% url 'preceptordetail' preceptor.id %}">Voltar</a>
        </div>
    </form>
</section>
{% endblock %}
